.black{
  color:black;

  cursor: pointer;
}
.pink{
  cursor: pointer;
  color:rgb(7, 226, 255);

  font-weight: bolder;
}
.list{
  padding: 8% 3% 0% 3%;
}
.card{
  background-color: rgb(219, 245, 250);
}
.inputWrite{
  padding: 26% 0% 0% 0%; 
  text-align: center;
}
.input{
  margin-bottom: 5%; 
  background-color: rgb(247, 252, 253);
  color: gray;
}
.check{
  margin-left:5%; 
}
@media screen and (max-width: 500px) {
  .list{
    padding: 2% 3% 2% 3%;
  }
  .inputWrite{
    padding: 10% 5% 10% 5%; 
  }
  *{
    font-size: 20px;
  }
}



